*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    // This defines what 1rem is
    font-size: 62.5%;   // 1rem = 10px; 10px/16px = 62.5%;

    @include respond(tablet-landscape){ // <= 1900px
        font-size: 56.25%;     // 1rem = 9px, 9/16 = 56.25%
    }

    @include respond(tablet-portrait){ // <= 900px
        font-size: 50%;     // 1rem = 8px, 8/16 = 50%
    }    

    @include respond(phone){ // <= 600px
        font-size: 37.5%;     // 1rem = 6px, 6/16 = 37.5%
    }

    @include respond(big-desktop){ // >= 1800px
        font-size: 75%;     // 1rem = 12px, 12/16 = 75%
    }
}

body{
    color: $color-grey-dark;
    padding: 3rem;
    box-sizing: border-box;

    @include respond(tablet-portrait){ // <= 900px
        @include respond(tablet-portrait){ // <= 900px
            padding: 0;
    }
    }

}
