@mixin clearfix() {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
}

@mixin grid($max-cols){
    @for $i from 1 through $max-cols{
        .col-#{$i}-of-#{$max-cols}{
            width: calc((((100% - (#{$horizontal_gutter} * (#{$max-cols} - 1))) / #{$max-cols}) * #{$i}) + ((#{$i} - 1) * #{$horizontal_gutter}))
        }
    }
}

@mixin centerBox(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600PX:      Phone
600 - 900px:    Tablet Portrait
900 - 1200px:   Tablet Landscape
[1200 - 1800px] Is where our normal styles apply
1800 + :        Big Desktop
*/

@mixin respond-phone{
    @media (max-width: 600px){
        @content;
    }
}

/*
$breakpoint argument choices:
- phone
- tablet-portrait
- tablet-landscape
- big-desktop

ORDER: base + tipography > general layout + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint){
    @if $breakpoint == phone{
        @media only screen and (max-width: 37.5em){ @content; }     //600px
    }
    @else if $breakpoint == tablet-portrait{
        @media only screen and (max-width: 56.25em){ @content; }      //900px
    }
    @else if $breakpoint == tablet-landscape{
        @media only screen and (max-width: 75em){ @content; }     //1200px
    }
    @else if $breakpoint == big-desktop{
        @media only screen and (min-width: 112.5em){ @content; }     //1800px
    }
}