$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-black: #000;

$color-grey-light-1: #F7F7F7;

$color-grey-dark: #777;
$color-white: #FFF;

//Font Sizes
$default-font-size: 1.6rem;

//Gutters
$horizontal_gutter: 3rem;
$vertical_gutter: 8rem;
$grid_widht: 114rem;